@model System.Data.DataTable
@{
    ViewBag.Title = "ShowOrders";
}

<h2>Show Orders</h2>
<table class="table table-bordered table-striped">
    <tr>
        @*<th>Order ID</th>*@
        <th>Model Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Customer Name</th>
        <th>Contact Number</th>
        <th>Payment Method</th>
        <th>Shipping Address</th>
        <th>Action</th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][6]</td>
            <td>@Model.Rows[i][7]</td>
            <td>
                <a href=" @Url.Action("OrderSummary", "Product", new { @id = Model.Rows[i][0] }) ">View Order Summary</a><br />
                

            </td>
        </tr>
    }


</table>


